footer{
    background: #000;
    color: #fff;    
    .footer_wrapper{
        padding: 10px 12px;
        text-align: center;
        h4{
            font-size: 1.1em;
            font-weight:600;
            margin: 0px 0px 1em;
            letter-spacing: 0.5px;
        }
        .logo,
        .socials,
        .location,
        .working_hours{
            margin: 8px 0px 2.5em;
        }
        .logo{
            img{
                width: 100px;
            }
            h4{
                margin: unset;
            }
            p{
                margin: 8px 0px;
            }
        }
        .socials{
            ul{
                list-style: none;
                li{
                    margin: 0.5em 0px;
                    letter-spacing: 0.5px;
                    span{
                        margin: 0px 6px 0px 0px;                        
                    }
                    a{
                        text-decoration: none;
                        color: #fff;                                              
                    }
                }
            }            
        }   
        .location{
            iframe{
                width: 100%;
                height: 400px;
                margin: auto;
            }
        }     
        .working_hours{
            .info{
                p{
                    margin: 4px 0px;
                }
            }
        }
    }
    .copyright{
        border-top: 1px solid #424242;
        padding: 16px 0px;
        p{
            margin: unset;
            text-align: center;
        }
    }
}


@media screen and (width >= 600px) {
    footer{
        .footer_wrapper{
            display: grid;
            grid-template-columns: auto auto;
            gap: 0px 1em;
        }
    }
}


@media screen and (width >= 900px) {
    footer{        
        .footer_wrapper{
            grid-template-columns: auto auto auto auto;      
            padding: 10px 2%;
            text-align: left;
            .logo,
            .socials,
            .working_hours,
            .location{
                padding: 8px 10px;      
                margin: 0px;                          
                h4{
                    text-align: left;                    
                }
            }                 
            .logo{
                display: flex;
                align-items: center;             
                justify-content: center;
                .logo_details{
                    text-align: center;
                    h4{
                        font-size: 1.5em;
                    }
                    p{
                        text-align: center;
                        font-style: italic;
                    }
                }
            }       
            .location{
                iframe{
                    height: 200px;
                }
            }
            .working_hours{                
                .info{                    
                    padding: 0px;   
                    p:nth-child(1) {
                        font-weight: bold;
                    }
                    p:nth-child(2){
                        padding-left: 1em;
                    }
                }
            }
        }
    }
}