.Rooms{
    padding: 10px 12px;
    h1{
        text-align: center;
        margin: 5px 0px;
    }
    .rooms_wrapper{
        .room{
            box-shadow: 1px 1px 10px black;
            border-radius: 8px;
            margin: 18px 0;
            .image{
                height: 18em;
                background: linear-gradient(rgb(3, 3, 3), rgb(129, 128, 128));
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px 8px 0 0;
                }
            }
            .description{
                padding: 8px 10px;
                h4{
                    font-weight: bold;
                }
                h5{
                    font-weight: bold;
                    color: green;
                    font-size: 1em;
                }
                p{
                    margin: 1px auto;
                }
                .room_features{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    border-top: 1px solid rgb(216, 216, 216);
                    margin-top: 8px;
                    .feature{
                        p:nth-of-type(1){
                            font-weight: 500;
                        }
                        .icon{
                            color: green;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width >= 726px){
    .Rooms{
        .rooms_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .room{
                margin: 0px 1em;
                display: grid;
                grid-template-columns: 1fr 1.5fr;
                .image{
                    height: 100%;
                    img{
                        border-radius: 8px 0 0 8px;
                    }
                }
            }
        }
    }
}