@media screen and (min-width: 726px){
    main{
        section{
            .container{
                .section_heading{
                    &::after{
                        left: 44%;
                        width: 12%;
                    }
                }
            }
        }
        .hero{
            .container{
                background: rgba(0, 0, 0, 0.1);                
            }
        }
        .our_story {
            .container{
                .our_story_wrapper{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    .story {
                        margin: auto 0.5em;
                        border-radius: unset;
                        box-shadow: unset;
                        img{
                            border-radius: unset;
                        }
                       .description {                        
                            border-radius: unset;
                       }
                    }
                }
            }
        }

        .gallery{
            .container{
                .gallery_wrapper{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr ;                    
                    gap: 1em;                    
                    .gallery{
                        height: 280px;                        
                        img{
                            height: 100%;
                            object-fit: cover;
                            border-radius: 12px;
                        }
                    }
                }
            }
        }

        .rooms{
            .container{
                .rooms_wrapper{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .room{
                        margin: auto 1em;
                        display: grid;
                        grid-template-columns: 1fr 1.5fr;
                        .image{
                            height: 100%;
                            img{
                                border-radius: 8px 0 0 8px;
                            }
                        }
                    }
                }
            }
        }
    }


    footer{
        h4{
            font-style: unset;
        }
        .container{
            display: grid;
            grid-template-columns: repeat(4, auto);
            padding: 1em 0 0;
        }
    }
}