$nav_background: rgba(0, 0, 0, 0.9);
$burger_background: #efefef;
$font_color: #efefef;

.top_navbar{
    position:sticky;
    top: 0;
    z-index: 0;
    height: 8vh;
    background: $nav_background;
    box-shadow: 0px 1px 5px #000;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    .logo{
        a{
            text-decoration: none;
            color: $font_color;
            letter-spacing: 2.5px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .nav_links{
        list-style: none;
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background: $nav_background;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        li{
            opacity: 0;
            a{
                color: $font_color;
                text-decoration: none;
                letter-spacing: 2px;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
    }
    .burger{
        display: pointer;
        .line {
            width: 25px;
            height: 2px;
            background-color: $burger_background;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }
}





@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



.nav_active{
    transform: translateX(0%) !important;
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


@media screen and (min-width: 726px) {
    $font_color: #000;
    .top_navbar{
        background: #ffffff;
        padding: 0.5em 9%;
        .logo{
            a{
                font-size: 1.2rem;
                color: $font_color;
            }
        }
        .nav_links{
            position: unset;
            transform: unset;
            height: unset;
            background: unset;
            align-items: unset;
            flex-direction: row;
            li{
                opacity: 1;
                a{
                    font-size: 1rem;
                    color: $font_color;
                }
            }
        }
        .burger{
            display: none;
        }
    }
}