*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

@import 'navbar';

main{
    section{
        padding: 15px 0 0;
        .container{
            .section_heading{
                font-size: 1.5em;
                font-weight: bold;
                position: relative;
                margin: 5px auto 20px;
                &::after{
                    content: "";
                    position: absolute;
                    display: block;
                    left: 5.4em;
                    bottom: -0.18em;
                    width: 25%;
                    height: 3px;
                    background-color: #b90038;
                }
            }
        }
    }
    .hero{
        height: 90vh;
        width: 100%;
        display: grid;
        place-items: center;
        text-align: center;
        background: url(../images/hero_section.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .container{
            color: #ffffff;
            h1{
                font-weight: bold;
                font-size: 5vmax;
                font-family: Helvetica, sans-serif;
            }
            p{
                font-style: italic;
                font-weight: 600;
                font-size: 1.3em;
            }
        }
    }

    .about {
        .container{
            h1{
                text-align: center;
            }
        }
    }

    .our_story {
        .container {
            h1{
                text-align: center;
            }
            .our_story_wrapper{
                .story{
                    $our_story_border_radius: 12px;

                    background: linear-gradient(165deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
                    border-radius: $our_story_border_radius;
                    box-shadow: 2px 1px 15px black;
                    height: 300px;
                    margin: 18px auto;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: $our_story_border_radius;
                        
                    }
                    .description {
                        position: absolute;
                        bottom: 0;
                        border-radius: $our_story_border_radius;
                        width: 100%;
                        padding: 2px 6px;
                        background: linear-gradient(160deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                        color: #fff;
                        text-align: center;
                        h4{                            
                            margin-bottom: unset;
                            font-size: 1.2em;
                            font-weight: bold;
                        }
                        p{
                            font-style: italic;
                            font-weight: 1em;
                            margin: unset;
                        }
                    }
                }
            }
        }
    }

    .gallery{
        .container{
            h1{
                text-align: center;
            }
            .gallery_wrapper{
                .gallery{
                    margin: 1em 0px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

    .rooms{
        .container{
            h1{
                text-align: center;
            }
            .rooms_wrapper{
                .room{
                    box-shadow: 1px 1px 10px black;
                    border-radius: 8px;
                    margin: 18px 0;
                    .image{
                        height: 18em;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px 8px 0 0;
                        }
                    }
                    .description{
                        padding: 8px 10px;
                        h4{
                            font-weight: bold;
                        }
                        h5{
                            font-weight: bold;
                            color: green;
                            font-size: 1em;
                        }
                        p{
                            margin: 1px auto;
                        }
                        .room_features{
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            border-top: 1px solid rgb(216, 216, 216);
                            margin-top: 8px;
                            .feature{
                                p:nth-of-type(1){
                                    font-weight: 500;
                                }
                                .icon{
                                    color: green;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    background: #000;
    color: #fff;    
    .container{
        h4{
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }
        .socials{
            ul{
                list-style: none;
                li{
                    margin: 0.5em 0px;
                    letter-spacing: 0.5px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        .icon-instagram{
                            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                        }
                    }
                }
            }            
        }   
        .location{
            iframe{
                width: 100%;
                height: 400px;
                margin: auto;
            }
        }     
    }
    .copyright{
        border-top: 1px solid #868686;
        padding: 4px 0px;
        p{
            margin: unset;
            text-align: center;
        }
    }
}


@import 'desktop';