* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.nav_wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 3px;
  background: rgba(255, 255, 255, 0.6);
  font-family: sans-serif, helvetica;
}

.logo h1 {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
  font-weight: bold;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}

.nav_links a {
  color: #000000;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav_links {
    width: 60%;
  }
}
@media screen and (max-width: 760px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.nav_active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

main section {
  padding: 15px 0 0;
}
main section .container .section_heading {
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  margin: 5px auto 20px;
}
main section .container .section_heading::after {
  content: "";
  position: absolute;
  display: block;
  left: 5.4em;
  bottom: -0.18em;
  width: 25%;
  height: 3px;
  background-color: #b90038;
}
main .hero {
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  background: linear-gradient(160deg, rgba(228, 74, 100, 0.4), rgba(0, 0, 0, 0.5)), url(../images/hero_alt.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .hero .container {
  color: #ffffff;
}
main .hero .container h1 {
  font-weight: bold;
  font-size: 5vmax;
  font-family: Helvetica, sans-serif;
}
main .hero .container p {
  font-style: italic;
  font-weight: 500;
  font-size: 1.3em;
}
main .about .container h1 {
  text-align: center;
}
main .gallery .container h1 {
  text-align: center;
}
main .gallery .container .gallery_wrapper .gallery {
  background: linear-gradient(165deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  border-radius: 12px;
  box-shadow: 2px 1px 15px black;
  height: 300px;
  margin: 18px auto;
}
main .gallery .container .gallery_wrapper .gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  position: relative;
}
main .gallery .container .gallery_wrapper .gallery .description {
  position: absolute;
  margin: -6.4em 5px;
  border-radius: 12px;
  width: 90%;
  padding: 8px 4px 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}
main .gallery .container .gallery_wrapper .gallery .description h4 {
  margin-bottom: unset;
  font-size: 1.4em;
  font-weight: bold;
}
main .gallery .container .gallery_wrapper .gallery .description p {
  font-style: italic;
}
main .rooms .container h1 {
  text-align: center;
}
main .rooms .container .rooms_wrapper .room {
  box-shadow: 1px 1px 10px black;
  border-radius: 8px;
  margin: 18px 0;
}
main .rooms .container .rooms_wrapper .room .image {
  height: 18em;
}
main .rooms .container .rooms_wrapper .room .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main .rooms .container .rooms_wrapper .room .description {
  padding: 8px 10px;
}
main .rooms .container .rooms_wrapper .room .description h4 {
  font-weight: bold;
}
main .rooms .container .rooms_wrapper .room .description h5 {
  font-weight: bold;
  color: green;
  font-size: 1em;
}
main .rooms .container .rooms_wrapper .room .description p {
  margin: 1px auto;
}
main .rooms .container .rooms_wrapper .room .description .room_features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgb(216, 216, 216);
  margin-top: 8px;
}
main .rooms .container .rooms_wrapper .room .description .room_features .feature p:nth-of-type(1) {
  font-weight: 500;
}
main .rooms .container .rooms_wrapper .room .description .room_features .feature .icon {
  color: green;
}

footer {
  background: rgb(0, 0, 0);
  color: #fff;
}
footer h4 {
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
footer ul {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer .container .socials p {
  margin: 1px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
footer .container .socials ul {
  display: flex;
}
footer .container .socials ul li {
  margin: 1em auto 1em 0;
}
footer .copyright {
  border-top: 1px solid rgb(105, 105, 105);
  padding: 15px 0;
}
footer .copyright p {
  text-align: center;
  margin: unset;
}

@media screen and (min-width: 726px) {
  main section .container .section_heading::after {
    left: 44%;
    width: 12%;
  }
  main .gallery .container .gallery_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main .gallery .container .gallery_wrapper .gallery {
    margin: auto 1em;
    border-radius: unset;
    box-shadow: unset;
  }
  main .gallery .container .gallery_wrapper .gallery img {
    border-radius: unset;
  }
  main .gallery .container .gallery_wrapper .gallery .description {
    border-radius: unset;
    width: 26%;
  }
  main .rooms .container .rooms_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .rooms .container .rooms_wrapper .room {
    margin: auto 1em;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
  }
  main .rooms .container .rooms_wrapper .room .image {
    height: 100%;
  }
  main .rooms .container .rooms_wrapper .room .image img {
    border-radius: 8px 0 0 8px;
  }
  footer h4 {
    font-style: unset;
  }
  footer .container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 1em 0 0;
  }
}/*# sourceMappingURL=main.css.map */