.Hero{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 93vh;
    background: url(../../../assets/hero-section.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .hero_info{        
        text-align: center;
        padding: 10px 4px;
        margin-top: 15%;
        h1{
            font-weight: bold;
            font-size: 1.8em;
        }
        p{
            font-weight: 500;
            font-style: italic;
            font-size: 1.3em;
        }
    }
}

@media screen and (width >= 726px){
    .Hero{
        align-items: center;
        height: 90vh;
        .hero_info{
            margin-top: unset;
            color: #fff;
            background: rgba(0,0,0,0.1);
            width: 95%;
            margin: auto;
            h1{
                font-size: 3.5em;
            }
            p{
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}