.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(120deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(../../../assets/entrance01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(2);
    .hero_info{        
        text-align: center;
        padding: 10px 4px;
        h1{
            font-weight: bold;
            font-size: 2.5em;
            letter-spacing: 1px;
            text-transform: uppercase;
            -webkit-text-stroke: 1px black;
            color: white;
            text-shadow: 3px 3px 0 #000;                          
        }
        p{
            font-weight: 600;
            font-style: italic;
            font-size: 1em;
            color: #fff;
        }
    }
}

@media screen and (width >= 726px){
    .Hero{
        height: 90vh;
        .hero_info{
            margin-top: unset;
            color: #fff;
            width: 95%;
            margin: auto;
            h1{
                font-size: 3.5em;
            }
            p{
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }
}