.About{
    padding: 10px 12px;    
    h1{
        text-align: center;
        margin: 5px 0px;
    }
    .about_content{
        p{
            margin: 6px 0px;
            letter-spacing: 0.4px;
        }
    }
}

@media screen and (width >= 726px){
    .About{
        padding: 5px 5% 10px; 
        h1{
            margin: 2em 0px 10px;
        }   
    }
}