.About{
    padding: 10px 12px;
    h1{
        text-align: center;
        margin: 5px 0px;
    }
    .about_content{
        p{
            margin: 6px 0px;
            letter-spacing: 0.4px;
        }
    }
    .our_story{
        .story,
        img,
        .description{
            border-radius: 12px;
        }

        .story{
            height: 400px;
            margin: 1em 0px;
            position: relative;
            background: linear-gradient(rgb(130, 1, 180), rgb(129, 128, 128));
            img{
                height: 100%;
                width: 100%;
            }
            .description{
                position: absolute;
                bottom: 0;
                background: linear-gradient(160deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
                color: #fff;
                text-align: center;
                padding: 10px 6px;
                h4{
                    font-weight: bold;
                    font-size: 1.3em;
                    margin: 0px 0px 5px 0px;
                }
                p{
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (width >= 726px){
    .About{
        padding: 10px 5%;
        .our_story{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0px 1em;

            .story,
            img,
            .description{
                border-radius: unset;
            }
        }
    }
}