.Services{

    p {
        margin: 1rem 0px;
        letter-spacing: 0.4px;
        opacity: .9;
    }

    .services_wrapper{
        padding: 10px 12px;        

        .service{    
            margin: 0px 0px 2em;  

            .service_info{
                h1{
                    text-align: center;
                    margin: 1.2em 0px;
                }   
                .description {
                    p{
                        margin: 1em 0px;
                    }
                }
            }

            .img_container {
                $border-radius: 16px;
                height: 300px;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }
        }        
    }

    .weddings {      
        position: relative; 
        height: 60vh;
        .img_container{            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .weddings_info {
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;            
            background: rgba(0, 0, 0, .5);
            color: #fff;
            padding: 1em 1.2em;

            h1{
                text-align: center;
                font-size: 2.4rem;
            }         
            
            a {
                text-decoration: none;
                color: #fff;
                border: 2px solid;
                border-radius: 32px;
                width: 60%;
                margin: 0px auto;
                text-align: center;
                padding: 16px 32px;   
                font-weight: bold;    
                font-size: 1.2rem;         
            }
        }
    }
}



@media screen and (width >= 600px) {
    .Services{              
        .services_wrapper {
            padding: 10px 2rem; 

            .service {
                .container {                                       
                    .service_info {
                        h1 {
                            text-align: left;
                        }
                    }
                    
                    .img_container {
                        height: unset;
                        img {
                            border-radius: unset;
                        }
                    }
                }
            }
        }

        .weddings {
            .weddings_info {
                justify-content: center;
                gap: 2.5em;
                padding: 2.5em;

                a {
                    width: 40%;
                }
            }
        }
    }
}



@media screen and (width >= 900px) {
    .Services {
        .services_wrapper {
            padding: 0px 6rem;

            .service {                
                .container {
                    position: relative;
                    height: 80vh;

                    .service_info {
                        background: rgb(255, 255, 255);
                        width: 60%;                        
                        position: absolute;
                        top: 10%;
                        left: 6em;
                        z-index: 1;
                        padding: 10px 1.5em;                        
                    }
    
                    .img_container {   
                        position: absolute;
                        right: 0;                 
                        height: 100%;   
                        width: 55%;      
                        img {
                            border-radius: 16px;
                        }     
                    }                     
                }     
                
                
                &:nth-child(even) {
                    .container {
                        .service_info {
                            left: unset;
                            right: 4em;
                        }

                        .img_container {
                            left: 0;
                        }
                    }                    
                }
            }            
        }

        .weddings {
            height: 90vh;

            .img_container {
                height: 100%;
            }

            .weddings_info {                
                gap: 1em;

                h1{
                    font-size: 3.5rem;
                }
                a {
                    width: 18%;
                    padding: 12px;
                }
            }
        }
    }        
}